* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #ccc;
}

#msg-container {
    padding: 1rem;
    height: 90%;
    width: 100%;
    background-color: #231f20;
}

#msg-container div {
    background-color: #121212;
    width: 90%;
    margin: 1rem auto 1rem 1rem;
    height: 4rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}


form {
    height: 10%;
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
}

form input[type="text"] {
    background-color: darkslategrey;
    border: none;
    outline: none;
    color: white;
    height: 2rem;
    width: 50%;
    padding: 0 1rem;
}


button {
    border: none;
    outline: none;
    background-color: darkslategrey;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
}






